@font-face {
    font-family: Poppins-semibold;
    src: url(./Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(./Poppins/Poppins-Bold.ttf);
}

@font-face{

    font-family: Poppins-regular;
    src: url(./Poppins/Poppins-Regular.ttf);
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  

body {
    background-color: white;
    margin: 0;
}



svg {

    color: #000115;
}



.dot {
    height: 48px;
    width: 48px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.justify-content {
    display: flex;
    justify-content: space-between;
}

.nav-size {

    width: 425px;
    height: 80px;
}

.margin-dot {
    margin-right: 27px;
    margin-top: 15px;
    margin-bottom: 17px;
}

.margin-svg {

    margin-left: 27px;
    margin-top: 35px;
}

.spec-text {

    margin-left: 27px;
    margin-top: 10px;
    font-family: Poppins-semibold;
    font-size: 20px;
    opacity: 65%;
}

.spec-text2 {
    font-family: Poppins-bold;
    font-size: 30px;
    margin-left: 27px;
    margin-top: 10px;
}

.search-bar {
    margin-left: 27px;
    margin-right: 10px;


}

.search-bar--text {

    width: 322px;
    height: 55.29px;
    border: solid 1px #DFDFDF;
    border-radius: 3px;
    margin-right: 10px;
}

.search-button {

    width: 64px;
    height: 56px;
    margin-right: 27px;
    border: solid 1px #400D54;
    background-color: #400D54;
    border-radius: 5px;
}

.svg2 {

    color: #FFFFFF;

    margin: 15px 15px;
}

.filter-sec {
    display: flex;
    align-items: center;
    margin-left: 18px;
    margin-right: 26px;
    margin-top: 10px;
}

.filter-button {

    width: 119px;
    height: 38px;
    margin: 8px;
    color: #000000;
    background-color: #FFFFFF;
    border: solid #DFDFDF 1px;
    border-radius: 4px;
    text-align: center; 
    font-size: 12px;
    font-family:Poppins-regular;   

}

.aligntext-h3 {

    text-align: center;

}

.guide-bar {
    display: flex ;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    width: 500px;
    height: 82px;
    border: solid 2px #f4efef;
    position: fixed;
    bottom: -1px;
    left: -16px;
    z-index: 1;

}

.products-section{


    width: 100%;
    height: 100%;

}

.products {

    display: flex;
    width: 406px;
    height: 175px;
    border: solid 1px #DFDFDF;
    border-radius: 4.5px;
    margin-right: 27px;
    margin-left: 29px;
    margin-top: 10px;
}

.products-image {
    width: 139px;
    height: 137px;
    margin: 10px;

}

.products-title {

    font-size: 14px;
    font-family: Poppins-bold;
    margin-left: 15px;
}


.products-price {

    font-size: 17px;
    font-family:Poppins-semibold ;
    position: relative;
    top: 75%;
    right: 43%;

}



.background {

    background-image: url(./images/Start.png);
    height: 785px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.enter {

    width: 321px;
    height: 61px;
    background-color: #FFFFFF;
    border: solid 1px #707070;
    border-radius: 7px;
    margin-bottom: 50px;
    margin-left: 75px;

}

.display-none{

    display: none;
}



.color-sec{

    background-color: #400D54;
}